<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><liquidtpl:text key="title"/></title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="copyright" content="" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <script src="/js/common/jquery-1.5.2.min.js" type="text/javascript"></script>
        <script src="/js/common/jquery.tmpl.min.js" type="text/javascript"></script>
        <script src="/js/common/jquery.tmplPlus.min.js" type="text/javascript"></script>
        <script src="/js/common/jquery.datalink.js" type="text/javascript"></script>
        <script src="/js/common/jquery.json-2.2.min.js" type="text/javascript"></script>
        <script src="/js/common/liquidtpl.js" type="text/javascript"></script>
        <script src="/js/scripts.js?app=mailcloud" type="text/javascript"></script>
        <!--[if lt IE 7]>
            <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
        <![endif]-->
        <!-- codemirror -->
        <script src="/js/plugins/codemirror/lib/codemirror.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/mode/xml/xml.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/mode/javascript/javascript.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/mode/css/css.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/mode/clike/clike.js" type="text/javascript"></script>
        <script src="/js/plugins/codemirror/ui/codemirror-ui.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/lib/codemirror.css" />
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/mode/xml/xml.css" />
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/mode/javascript/javascript.css" />
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/mode/css/css.css" />
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/mode/clike/clike.css" />
        <link rel="stylesheet" type="text/css" href="/js/plugins/codemirror/css/codemirror-ui.css" />
        <!-- codemirror -->
    </head>
    <!--body *********************************************-->
    <body>
        <!--wrapper *********************************************-->
        <div id="wrapper">
            <!--roundContents *********************************************-->
            <div id="roundContents_left">
                <div id="roundContents_right">
                    <!--roundHeader *********************************************-->
                    <div id="roundHeader">
                        <div id="roundHeader_left">
                            <div id="roundHeader_right">
                                <!--roundFooter *********************************************-->
                                <div id="roundFooter">
                                    <div id="roundFooter_left">
                                        <div id="roundFooter_right">
                                            <!--header *********************************************-->
                                            <div id="header">
                                                <h1><a href="/"><img src="/img/logo.gif" alt="logo" /></a></h1>
                                                <div id="headerRight">
                                                </div>

                                                <!--header END -->
                                            </div>
                                            <!--roundNavyContents *********************************************-->
                                            <div id="roundNavyContents_left">
                                                <div id="roundNavyContents_right">
                                                    <!--roundNavyHeader *********************************************-->
                                                    <div id="roundNavyHeader">
                                                        <div id="roundNavyHeader_left">
                                                            <div id="roundNavyHeader_right">
                                                                <!--roundNavyFooter *********************************************-->
                                                                <div id="roundNavyFooter">
                                                                    <div id="roundNavyFooter_left">
                                                                        <div id="roundNavyFooter_right">
                                                                            <div id="breadcrumb"></div>
                                                                            <!--content *********************************************-->
                                                                            <div id="contents" class="withMenu">
                                                                                <!--sideMenu *********************************************-->
                                                                                <div id="sideMenu">
                                                                                    <div class="endcap">
                                                                                        <ul id="mainMenuContainer">
                                                                                            <li class="seleceted" style="display:none;">&nbsp;</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <!--mainBlock *********************************************-->
                                                                                <div id="mainBlock">
                                                                                    <div id="mainBlockBody">
                                                                                        <!--entryContents *********************************************-->
                                                                                        <div class="entryContents_left">
                                                                                            <div class="entryContents_right">
                                                                                                <div class="entryHeader">
                                                                                                    <div class="entryHeader_left">
                                                                                                        <div class="entryHeader_right">
                                                                                                            <!--タイトル *******************-->
                                                                                                            <h2 id="portletTitle">&nbsp;</h2>
                                                                                                            <div class="entryBottom">
                                                                                                                <div class="entryBottom_left">
                                                                                                                    <div class="entryBottom_right">
                                                                                                                        <div class="entryFooter">
                                                                                                                            <div class="entryFooter_left">
                                                                                                                                <div class="entryFooter_right">
                                                                                                                                    <!--コンテンツ *******************-->
                                                                                                                                    <liquidtpl:msgs/>
                                                                                                                                    <div id="subMenuDiv" style="display:none;">
                                                                                                                                        <div class="toolBar">
                                                                                                                                            <div class="toolBarMiddle">
                                                                                                                                                <div class="toolBarRight">
                                                                                                                                                    <div class="toolBarLeft">
                                                                                                                                                        <ul id="subMenuContainer">
                                                                                                                                                            <li class="seleceted" style="display:none;">&nbsp;</li>
                                                                                                                                                        </ul>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                    <liquidtpl:content/>
                                                                                                                                    <!--entry END *********************************************-->
                                                                                                                                    <!--entryFooter_right END --></div>
                                                                                                                                <!--entryFooter_left END --></div>
                                                                                                                            <!--entryFooter END --></div>
                                                                                                                        <!--entryBottom_right END --></div>
                                                                                                                    <!--entryBottom_left END --></div>
                                                                                                                <!--entryBottom END --></div>
                                                                                                            <!--entryHeader_right END --></div>
                                                                                                        <!--entryHeader_left END --></div>
                                                                                                    <!--entryHeader END --></div>
                                                                                                <!--entryContents_right END --></div>
                                                                                            <!--entryContents_left END --></div>



                                                                                        <!-- mainBlock END -->
                                                                                    </div></div>


                                                                                <!--content END -->
                                                                            </div>
                                                                            <!--roundNavy END *********************************************-->
                                                                            <!--roundNavyFooter_right END --></div>
                                                                        <!--roundNavyFooter_left END --></div>
                                                                    <!--roundNavyFooter END --></div>
                                                                <!--roundNavyHeader_right END --></div>
                                                            <!--roundNavyHeader_left END --></div>
                                                        <!--roundNavyHeader END --></div>
                                                    <!--roundNavyContents_right END --></div>
                                                <!--roundNavyContents_left END --></div>
                                            <!--footer *********************************************-->
                                            <div id="footer">
                                                <p class="copyright">Copyright(C) Aimluck, Inc. All Rights Reserved.</p>
                                                <!--footer END -->
                                            </div>
                                            <!--round END *********************************************-->
                                            <!--roundFooter_right END --></div>
                                        <!--roundFooter_left END --></div>
                                    <!--roundFooter END --></div>
                                <!--roundHeader_right END --></div>
                            <!--roundHeader_left END --></div>
                        <!--roundHeader END --></div>
                    <!--roundContents_right END --></div>
                <!--roundContents_left END --></div>

            <!--wrapper END --></div>
        <script type="text/javascript">
            //<![CDATA[
            $(function(){
                $.template( "mainMenuTemplate", '<li {{if select}}class="selected"{{/if}}><a href="${path}">${text}<\/a><\/li>' );
                $.template( "subMenuTemplate", '<li><a href="${path}" {{if css_class}}class="${css_class}"{{/if}}>${text}<\/a><\/li>' );
                $.ajax({
                    type: "GET",
                    url: "/menu?basePath=" + encodeURI(liquidtplPageInfo.basePath),
                    dataType: "text",
                    data: $.getUrlParams(),
                    success: function(result){
                        try {
                            var _values = $.evalJsonCommentFiltered(result);
                            var size = _values.mainMenu.length;
                            for(var i = 0; i < size; i++){
                                if(_values.mainMenu[i]["select"]){
                                    $("#portletTitle").text(_values.mainMenu[i]["text"]);
                                }
                            }

                            $.tmpl( "mainMenuTemplate", _values.mainMenu ).appendTo("#mainMenuContainer");
                            if(_values.subMenu && (_values.subMenu.length > 0)){
                                $.tmpl( "subMenuTemplate", _values.subMenu ).appendTo("#subMenuContainer");
                                $("#subMenuDiv").show();
                            }
                        } catch (e) {
                        }
                    }
                });
            });
            //]]>
        </script>
        <!--body END -->
    </body>
</html>
